<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ph.gov.davaodelnorte.hris">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.sec.android.provider.badge.permission.READ" />
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE" />
    <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE" />

    <application
        android:name="app.MyApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/HRIS">
        <activity
            android:name=".MainActivity"
            android:label="HRIS">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".PassSlipActivity"
            android:label="Pass Slips For Approval"
            android:parentActivityName=".MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".PassSlipApplicationDetailActivity"
            android:label="Pass Slip Detail"
            android:parentActivityName=".PassSlipActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PassSlipActivity" />
        </activity>
        <activity
            android:name=".PTLOSActivity"
            android:label="PTLOS For Approval"
            android:parentActivityName=".MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".PTLOSApplicationDetailActivity"
            android:label="PTLOS Detail"
            android:parentActivityName=".PTLOSActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PTLOSActivity" />
        </activity>
        <activity
            android:name=".JustificationActivity"
            android:label="Justifications For Approval"
            android:parentActivityName=".MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".JustificationPerMonthActivity"
            android:label="Justifications For Approval"
            android:parentActivityName=".JustificationActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".JustificationActivity" />
        </activity>
        <activity
            android:name=".JustificationDetailActivity"
            android:label="Justification Detail"
            android:parentActivityName=".JustificationActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".JustificationActivity" />
        </activity>

        <service android:name=".HRISService" />

        <receiver android:name="helper.AlarmReceiver" />

        <activity
            android:name=".JustificationRevertActivity"
            android:label="Justifications For Reversal"
            android:parentActivityName=".MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".JustificationRevertPerMonthActivity"
            android:label="Justifications For Reversal"
            android:parentActivityName=".JustificationRevertActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".JustificationRevertActivity" />
        </activity>
        <activity
            android:name=".JustificationRevertDetailActivity"
            android:label="Justification Detail For Reversal"
            android:parentActivityName=".JustificationRevertActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".JustificationRevertActivity" />
        </activity>
        <activity
            android:name=".DTRReturnActivity"
            android:label="Request for Return of DTR"
            android:parentActivityName=".MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".DTRReturnPerEmployeeActivity"
            android:label="Request for Return of DTR"
            android:parentActivityName=".DTRReturnActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DTRReturnActivity" />
        </activity>
    </application>

</manifest>